<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		<!-- build:css css/main.css -->
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/smart-grid.css")
		link(href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|ZCOOL+KuaiLe&display=swap", rel="stylesheet")
		<!-- endbuild -->
	body
		header.bus
			nav.menu
				ul.navigation
					li main
					li magazine
					li contacts
					li project
		section.he
			.he__border
				h1 rocker
				h1 zamay
				h2 oxxxymiron
				p Я живу по жизни Я живу по жизни Я живу по жизни Я живу по жизни Я живу по жизни
				.he__border_color
					h3 you want get what you want
				ul.navi
					li main
					li magazine
					li contacts
					li project
				h5 ЧИБАПЧИЧ
		<!-- build:js js/main.js -->
		script(src="js/main.js")
		script(src="js/jquery-3.4.0.min.js")
		<!-- endbuild -->